* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 10px;
}

body {
    background-color: rgb(160, 157, 157);
}

#top {
    display: grid;
    background-color: bisque;
    grid-template-rows: 1fr;
    grid-template-columns: .2fr minmax(50px, 200px) minmax(50px, 200px) 100px 1fr;
    padding: 5px;
}



#container {
    display: grid;
    grid-template-columns: 180px repeat(8,120px) 50px;
    grid-template-rows: 100px fit-content;
    grid-auto-flow: column;
    background-color: rgb(247, 207, 193);
}

#confirm {
    padding: 4px;
    margin-left: 50px;
    width: 100px;
}

button, input {
    font-size: 2rem;
}

p {
    background: linear-gradient(rgb(247, 207, 193), rgb(218, 182, 168));
    text-align: center;
}

.sum_Div, .number_Div, .second_number_Div, .difference_Div {
    font-size: 2rem;
}







